appName=ESEMPIO
appDescription=ESEMPIO REST API
apiVersion=1.0.0
clientVersion=1.0.0
REDISDB=7
RUNTIME=development
debug=true
restApiUrl=http://localhost:17000
port=17000

tokenExpirationDays=365
tokenExpirationOffset=120
tokenKey=

orgname=Esempio
orgemail=xxxx.yyyy@mail.com

apiUrl=/api/v1/
authApiUrl=/api/v1/p/
fileApiUrl=/api/v1/f/
authFileApiUrl=/api/v1/f/p/
defaultOffset=0
defaultRecordCount=25

allowed_domain=

multer_dest=files/tmp
multer_fields=10
multer_fileSize=32000000
multer_files=10
multer_parts=10

db_host=localhost
db_user=
db_password=
db_name=
db_port=3306
db_connect_timeout=2500
